.popup__neim {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    margin-top: 41px; /*Выровнено Perfect Pixel*/
    border-bottom: 1px solid #000000;
}