.profile__add-rectangle {
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
    background: #000000;
    border-radius: 2px;
    margin-bottom: 8px; /*выровнено PerfektPixel*/
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .profile__add-rectangle {
        width: 282px;
        margin: 31px 0 34px;
    }
}