.profile {
    display: grid;
    grid-template-columns: 120px 336px 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: center;
    justify-items: end;
    column-gap: 30px;
    max-width: 880px;
    margin: 40px auto;
}

@media screen and (max-width: 1024px) {
    .profile {
        padding: 0 27px;
    }
}

@media screen and (max-width: 720px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 42px 0 0;
    }
}
