.profile__edit-rectangle {
    background-color: transparent;
    grid-area: 1 / 2;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;

}

@media screen and (max-width: 680px) {
    .profile__edit-rectangle {
        width: 18px;
        height: 18px;
    }
}