.popup_element {
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}