.popup__close {
    background-image: url(../../../image/Close-Icon.png);
    background-repeat: no-repeat;
    position: absolute;
    border: none;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -39px;
    background-color: #0000;
    /*Выровнено Perfect Pixel*/
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .popup__close {
        background-image: url(../../../image/Close-Icon-mini.svg);
        width: 20px;
        height: 20px;
        position: absolute;
        top: -37px;
        margin-top: 10px;
        margin-right: 40px;
    }
}

.popup__close:hover { 
    opacity: 0.6;
}