.popup__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px 64px 15px 16px;
}

@media screen and (max-width: 720px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin: 25px auto 43px;
        padding-right: 7px;
    }
}